/* mediaQ */
/* mobile */
@media only screen and (max-width:480px) {
    /* header index */
    .header {
        flex-direction:column;
        img{
            margin-right: 50%;
            align-content: flex-start;
        }
        ul{
            flex-direction: column;
            text-align:center;
        }
        li{
            font-size: 0.6em; 
        }
        }
    
    /* main index */

    .contenedor {
        flex-direction: column;
        img {
            width: 300px;
            height: 800;
            padding-right: 30px;
            
        }
        
        h3 {
            padding-left: 20px;
            margin: 50px;
        }

        p {
            margin: 30px;
            padding-left: 30px;
        }
    }

    /*main de productos*/
    .contenedor-grid{
        display: flex;
        flex-direction: column;
   img {
        width: 60%;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
    }

}

    /*main de politicas de devoluciones*/
    .devoluciones{
        text-align: center;
        padding-right: 20px;
    }
    /*main de como calcular cantidades*/

    .cantidades1 p {
        margin: 25px;
    }

    .cantidades2 ul {
        text-align: center;
        margin-left: 0px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

/*desktop*/

@media only screen and (max-width: 979px) {

    /*header index*/

    .header {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    /*main index*/

    .contenedor {
        flex-direction: column;
        align-items: center;
    }

}